/* Home.css */

.home-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .headerss {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .header-content {
    flex: 1;
    text-align: left;
  }
  
  .header h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .header p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .features {
    display: flex;
    justify-content: space-between;
  }
  
  .feature {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .feature img {
    width: 100px;
    margin-bottom: 20px;
  }
  
  .feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 16px;
  }
  
  .footer {
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
  }
  